@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@100;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

:root {
    --red : rgb(200, 20, 20) ;
    --white: rgb(250,250,250);
    --blue: #1da1f2;
}

form { 
    width: 100%;
}
textarea { 
    resize: none;
}
button { 
    outline: none !important;
    overflow: hidden;
}

.button { 
    padding: 0.7rem 1.5rem;
    font-family: inherit;
    border-radius:0.3rem;
    margin-top: 0.3rem;
    cursor: pointer;
    border: none;
}
.b-none { 
    background-color: transparent !important;
}
.t-blue { 
    color: var(--blue) !important;
}
.b-blue { 
    background-color: var(--blue) !important;
    color: var(--white) !important;
}
.t-red { 
    color: var(--red) !important;
}
.b-red { 
    background-color: var(--red) !important;
    color: var(--white) !important;
}

.input { 
    border: 1px solid #ddd;
    background-color: var(--white);
    padding: 0.7rem 1.5rem;
    font-family: inherit;
    border-radius:0.3rem;
    margin-top: 0.3rem;
    width: 100%;
}
.input:focus {
    border: 1px solid var(--blue);
    outline: none;
} 
.section { 
    margin-top: 0.32rem;
}
.form-group { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 5px;
}
.line { 
    background: var(--white);
    border: 1px solid #ddd;
    padding: 0.7rem 1.5rem;
    font-family: inherit;
    border-radius:0.3rem;
    margin-top: 0.3rem;
    width: 100%;
    position: relative;
    cursor: pointer;
 }
.line span{
    position: absolute !important;
    top: 10px;
    right: 10px;
    cursor: pointer;
 } 
.line.active { 
    border-left: 3px solid var(--red);
}
.template{
    width: 210px !important;
    border-radius: 0.5rem;
    overflow: hidden;
    height: 220px;
    border: 1px solid #dfdfdf;
    box-shadow: 0 0 3px #efefef;
    display: inline-block !important;
    cursor: pointer;
    outline: none !important;
} 
.template img{
    width: 100%;
    height: 100%;
}
